<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">
<h2>Password Generator</h2>

<form class="" action="password">
 <select name="length">
   <option value="6">6</option>
   <option value="7">7</option>
   <option value="8" selected="selected">8</option>
   <option value="10">10</option>
 </select> Length
 <br>
 <input type="checkbox" name="uppercase"> Uppercase
 <br>
 <input type="checkbox" name="numbers"> Numbers
 <br>
 <input type="checkbox" name="special"> Special Characters
 <br>
 <input type="submit" value="Generate Password" class="btn btn-primary">
</form>
<br><br>
<a href="{% url 'about' %}" class="btn btn-warning">About</a>
</div>
