<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">
  <h3>Your Password is : </h3>
<h2 class="alert alert-success">{{ password }}</h2>
<a href="{% url 'home' %}" class="btn btn-warning">home</a>
</div>
